-r thunor/requirements.txt
Django>=2.2,<2.3
django-allauth==0.41.0
django-crispy-forms==1.8.1
django-custom-user==0.7
django-guardian==2.2.0
django-invitations==1.9.3
django-webpack-loader==0.6.0
uwsgi==2.0.18
psycopg2==2.8.4
django-redis==4.11.0
raven==6.10.0
