-e ./thunor[test]
numpy==2.1.0
pandas==2.2.2
plotly==5.23.0
xlrd
python-magic
Django==4.2.16
django-allauth==64.0.0
django-crispy-forms==1.14.0
django-custom-user==1.1
django-guardian==2.4.0
django-invitations==2.1.0
django-redis==5.4.0
django-webpack-loader==3.1.1
psycopg2==2.9.9
sentry-sdk[django]==2.12.0
uwsgi==2.0.26
