{% extends "base.html" %}

{% block title %}High Throughput Screening{% endblock %}
{% block bodytitle %}Welcome to PyHTS{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron navy">
        <p>Please create a dataset to get started.</p>
        <p><a role="button" class="btn btn-primary" href="{% url 'pyhts:plate_upload' %}">Create Dataset</a></p>
    </div>
</div>
<div class="row">
<div class="col-lg-12">
    <table id="dataset-table" class="table table-striped table-bordered"
           width="100%"
           cellspacing="0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date Uploaded</th>
            </tr>
        </thead>
    </table>
</div>
</div>
{% endblock %}

{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'vendor/datatables/css/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block tailscript %}
<script src="{% static 'vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/js/dataTables.bootstrap.min.js' %}"></script>
    <script>
$(function() {
    $('#dataset-table').DataTable( {
        "ajax": '{% url 'pyhts:ajax_get_datasets' %}',
        "columnDefs": [
            {"targets": 0, "data": "name", "render": {
                "display": function( data, type, full, meta ) {
                    console.log(full);
                    return '<a href="/dataset/'+full.id+'">'+full.name+'</a>';
                }
            }},
            {"targets": 1, "data": "creation_date"}
        ]
    } );
} );
</script>
{% endblock %}
