{% extends "base.html" %}

{% block title %}High Throughput Screening{% endblock %}
{% block bodytitle %}Welcome to {{ SITE_NAME }}{% endblock %}

{% block content %}
{% if not user_has_datasets %}
<div class="container">
    <div class="jumbotron navy">
        <p>Please create a dataset to get started.</p>
        <p><a role="button" class="btn btn-primary" href="{% url 'pyhts:plate_upload' %}">Create Dataset</a></p>
    </div>
</div>
{% endif %}
<div class="row">
<div class="col-md-9">
<h2>Datasets</h2>
{% with create_dataset_btn=True %}{% include "dataset_table.html" %}{% endwith %}
</div>

<div class="col-md-3">
<h2>Tags</h2>
<a role="button" href="{% url 'pyhts:tag_editor' 'cell_lines' %}" class="btn
btn-primary btn-sidebar">Cell Line Tags</a>
<a role="button" href="{% url 'pyhts:tag_editor' 'drugs' %}" class="btn
btn-primary btn-sidebar">Drug Tags</a>
</div>
</div>
{% endblock %}

{% block tailscript %}
<script>
$(function() {
    pyHTS.views.home.activate();
} );
</script>
{% endblock %}
