{% extends "base.html" %}

{% block title %}My Account{% endblock %}

{% block content %}
<p class="lead">{{ user.email }}</p>
{% if request.user.groups.all %}
    <p>Groups:
    {% for group in request.user.groups.all %}
        <span class="label label-default">{{ group }}</span>
    {% endfor %}
    </p>
{% endif %}
<div class="square-btns">
  <a role="button" class="btn btn-primary btn-lg" href="{% url 'account_email' %}">
    <i class="fa fa-3x fa-envelope-o"></i><br>
    Add/change email address</a>
  <a role="button" class="btn btn-primary btn-lg" href="{% url 'account_change_password' %}">
    <i class="fa fa-3x fa-key"></i><br>
    Change password</a>
</div>

  {% include "btn_back_homepage.html" %}
{% endblock %}
