{% extends "base.html" %}

{% block title %}My Account{% endblock %}

{% block content %}
<p class="lead">{{ user.email }}</p>
{% if request.user.groups.all %}
    <p>Groups:
    {% for group in request.user.groups.all %}
        <span class="label label-default">{{ group }}</span>
    {% endfor %}
    </p>
{% endif %}
<p>
<a role="button" class="btn btn-primary" href="{% url 'account_email' %}">Add/change email address</a>
<a role="button" class="btn btn-primary" href="{% url 'account_change_password' %}">Change password</a>
</p>
{% endblock %}
