<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %} | Thunor</title>

    {% load static %}
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'pyhts/favicons/apple-touch-icon-57x57.png' %}" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'pyhts/favicons/apple-touch-icon-114x114.png' %}" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'pyhts/favicons/apple-touch-icon-72x72.png' %}" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'pyhts/favicons/apple-touch-icon-144x144.png' %}" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static 'pyhts/favicons/apple-touch-icon-60x60.png' %}" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'pyhts/favicons/apple-touch-icon-120x120.png' %}" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'pyhts/favicons/apple-touch-icon-76x76.png' %}" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'pyhts/favicons/apple-touch-icon-152x152.png' %}" />
<link rel="icon" type="image/png" href="{% static 'pyhts/favicons/favicon-196x196.png' %}" sizes="196x196" />
<link rel="icon" type="image/png" href="{% static 'pyhts/favicons/favicon-96x96.png' %}" sizes="96x96" />
<link rel="icon" type="image/png" href="{% static 'pyhts/favicons/favicon-32x32.png' %}" sizes="32x32" />
<link rel="icon" type="image/png" href="{% static 'pyhts/favicons/favicon-16x16.png' %}" sizes="16x16" />
<link rel="icon" type="image/png" href="{% static 'pyhts/favicons/favicon-128.png' %}" sizes="128x128" />
<meta name="application-name" content="Thunor"/>
<meta name="msapplication-TileColor" content="#002559" />
<meta name="msapplication-TileImage" content="{% static 'pyhts/favicons/mstile-144x144.png' %}" />
<meta name="msapplication-square70x70logo" content="{% static 'pyhts/favicons/mstile-70x70.png' %}" />
<meta name="msapplication-square150x150logo" content="{% static 'pyhts/favicons/mstile-150x150.png' %}" />
<meta name="msapplication-wide310x150logo" content="{% static 'pyhts/favicons/mstile-310x150.png' %}" />
<meta name="msapplication-square310x310logo" content="{% static 'pyhts/favicons/mstile-310x310.png' %}" />


    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
          rel="stylesheet">

{#    <!-- MetisMenu CSS -->#}
{#    <link href="{% static 'vendor/metisMenu/metisMenu.min.css' %}"#}
{#          rel="stylesheet">#}

    <!-- Custom CSS -->
{#    <link href="{% static 'dist/css/sb-admin-2.css' %}" rel="stylesheet">#}

{#    <!-- Morris Charts CSS -->#}
{#    <link href="{% static 'vendor/morrisjs/morris.css' %}" rel="stylesheet">#}

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}"
          rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <link href="{% static 'pyhts/css/pyhts.css' %}?v=1" rel="stylesheet">
    {% block stylesheets %}{% endblock %}

    <!--[if lt IE 9]>{# TODO: Make this a non-javascript banner #}
        <script>alert("Sorry, your web browser is unsupported. Please
        upgrade to Internet Explorer 9 or higher, or use a recent version of
         Google Chrome or Mozilla Firefox");</script>
    <![endif]-->

</head>

<body>{% block body %}{% endblock %}
{% block tailscript %}{% endblock %}
</body>
</html>
