<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="High Throughput Screening">
    <meta name="author" content="Alex Lubbock">

    <title>{% block title %}{% endblock %} | {{ SITE_NAME }}</title>

{% include "favicons.html" %}
{% load webpack_loader %}
{% render_bundle 'vendor' 'css' %}
{% render_bundle 'app' 'css' %}
</head>

<body>{% block body %}{% endblock %}
</body>
</html>
