<div class="hts-dippar-group hidden-tc hidden-dip">
   <div class="form-group">
        {% if parameter_toggle %}
        <div class="pull-right" style="margin-top:-2px;margin-right:4px">
            <input type="checkbox" name="{{ param_form_name }}Toggle"
                   class="{{ param_form_name }}Toggle"
                   data-size="mini">
        </div>
        {% endif %}
        <label for="hts-dippar-sort">{{ param_label }}</label>
        <div class="hts-dippar-sort"{% if parameter_toggle %}
             style="display:none
"{% endif %}>
            <select class="form-control" title="Select a parameter" name=
                    "{{ param_form_name }}">
                <option value="ic10">IC10</option>
                <option value="ic50" selected>IC50</option>
                <option value="ic100">IC100</option>
                <option value="ec50">EC50</option>
                <option value="emax">Emax</option>
                <option value="emax_rel">Emax (relative)</option>
                <option value="emax_obs">Emax observed</option>
                <option value="emax_obs_rel">Emax observed (relative)</option>
                <option value="e50">E50</option>
                <option value="hill">Hill Coefficient</option>
                <option value="emax">Activity Area</option>
            </select>
        </div>
    </div>
</div>
