{% extends "base.html" %}

{% block title %}Create Dataset{% endblock %}

{% block content %}
{# Plate File Upload #}
<div class="row">
    <div>
        <div class="container">
            {% if not dataset_id %}
            <div id="hts-dataset-upload-1" class="panel panel-default">
                <div class="panel-heading">
                    <span class="h3">Specify Details</span>
                    <button id="hts-next-1" type="button" class="btn
                    btn-success
                    pull-right"
                                style="display:none;padding:3px 12px;">Next
                          <span class="glyphicon glyphicon-arrow-right"
                                aria-hidden="true"></span>
                    </button>
                </div>
                <div class="panel-body">
                    <label for="dataset-name">Dataset Name</label>
                    <input type="text" name="dataset-name"
                           class="form-control" />
                </div>
            </div>
            {% endif %}

            <div id="hts-dataset-upload-2"
                 style="{% if not dataset_id %}display:none{% endif %}"
                 class="panel
                 panel-default">
                <div class="panel-heading inline-headers clearfix">
                    <span class="h3">Upload Plates</span>
                    <a id="hts-next-2" role="button" class="btn
                    btn-success
                    pull-right"
                       href="{% if dataset_id %}{% url 'pyhts:plate_designer' dataset_id %}{% else %}#{% endif %}"
                                style="display:none;padding:3px 12px;">Next
                          <span class="glyphicon glyphicon-arrow-right"
                                aria-hidden="true"></span>
                    </a>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <h4>Select files from your computer <small>
                        Drag and drop or click
                        <strong>Browse</strong></small></h4>
                    <input type="hidden" name="dataset-id" value="">
                    <input type="file" name="file_field[]"
                           id="js-upload-files" multiple
                           class="file-loading">
                    <div id="errorBlock" class="help-block"></div>

                </div>
            </div>

        </div> <!-- /container -->
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{% load static %}
<link rel="stylesheet" href="{% static 'vendor/bootstrap-fileinput/css/fileinput.min.css' %}">
{% endblock %}

{% block tailscript %}
<script src="{% static 'vendor/bootstrap-fileinput/js/fileinput.min.js' %}"></script>
<script>
$(function () {
    'use strict';

    pyHTS.csrfToken = '{{ csrf_token }}';
    pyHTS.ajaxSettings = {headers: { 'X-CSRFToken': pyHTS.csrfToken }};

    var pyHTSLockNext2 = function() { $('#hts-next-2').hide(); };
    var pyHTSUnlockNext2 = function() { $('#hts-next-2').show(); };

    var initialPreview = [], initialPreviewConfig = [];
    {% for pf in plate_files %}
        initialPreview.push('{% spaceless %}
        {% include "ajax_upload_template.html" with plate_file_format=pf.file_format %}
        {% endspaceless %}');
        initialPreviewConfig.push({caption: '{{ pf.file.name|escapejs }}',
            key:{{ pf.id }}});
    {% endfor %}

    pyHTS.ui.createFileUploadScreen = function(dataset_id) {
        $("#js-upload-files").fileinput({
            uploadUrl: '/ajax/platefile/upload',
            uploadAsync: false,
            deleteUrl: '/ajax/platefile/delete',
            allowedFileExtensions: ['xls', 'xlsx',
                'txt', 'csv', 'tsv'],
            maxFileSize: 2048,
            maxFileCount: 20,
            minFileCount: 1,
            initialPreview: initialPreview,
            initialPreviewConfig: initialPreviewConfig,
            overwriteInitial: false,
            uploadExtraData: {
              dataset_id: dataset_id
            },
            ajaxSettings: pyHTS.ajaxSettings,
            ajaxDeleteSettings: pyHTS.ajaxSettings
        }).on('filelock', pyHTSLockNext2)
          .on('filereset', pyHTSLockNext2)
          .on('filebatchuploadcomplete', pyHTSUnlockNext2)
          .on('fileuploaded', pyHTSUnlockNext2);
    };

    pyHTS.ajax.createDataset = function(name) {
        if(name == '') {
            pyHTS.ui.okModal('Error creating dataset',
                             'Please enter a name for this dataset',
                             function() {$('input[name=dataset-name]')
                                     .focus()});
            return false;
        }
        $.ajax({type: 'POST',
                url: '/ajax/dataset/create',
                headers: { 'X-CSRFToken': pyHTS.csrfToken },
                data: {'name' : name},
                success: function(data) {
                     if(data.id) {
                        if(window.history.replaceState) {
                            window.history.replaceState(null, null,
                                    '/dataset/'+data.id+'/upload');
                        }
                        $('#hts-next-2').prop('href',
                                '/dataset/'+data.id+'/annotate');
                        pyHTS.ui.createFileUploadScreen(data.id);
                        $('#hts-dataset-upload-1').slideUp();
                        $('#hts-dataset-upload-2').slideDown();
                     } else {
                         pyHTS.ui.okModal('Error','Unknown Error');
                         throw new Error('Unexpected response from ' +
                                 'server', data);
                     }
                },
                error: pyHTS.ajax.ajaxErrorCallback,
                dataType: 'json'});
    };

    $('#hts-next-1').click(function() {
       pyHTS.ajax.createDataset($('input[name=dataset-name]').val());
    });

    $('input[name=dataset-name]').keyup(function (e) {
        var btn_selected = $('#hts-next-1');
        if($(this).val() == '') {
            btn_selected.hide();
        } else {
            btn_selected.show();
        }
        if(e.which == 13) {
            btn_selected.click();
        }
    }).focus();

    {% if dataset_id %}pyHTS.ui.createFileUploadScreen({{ dataset_id }});{% endif %}
});
</script>
{% endblock %}
