{% extends "base.html" %}

{% block title %}Annotate Plates
    <em class="pull-right">{{ dataset_name }}</em>
{% endblock %}

{% block content %}
{# Plate Designer #}
<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="panel panel-default" style="width:52em;">
    <div class="panel-heading">
        <div class="pull-right" role="group">
            <button id="hts-prev-dataset" type="button" class="btn btn-default"
                                    style="display:none">
                              <span class="glyphicon glyphicon-arrow-left"
                                    aria-hidden="true"></span> Previous
                        </button>
        <button id="hts-next-dataset" type="button" class="btn
        btn-default">Next
                              <span class="glyphicon glyphicon-arrow-right"
                                    aria-hidden="true"></span>
                        </button>
        </div>

        <div class="dropdown" style="display:inline-block">
            <button class="btn btn-default dropdown-toggle" type="button"
                    id="hts-select-platefile" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                <span class="glyphicon glyphicon-file"
                      aria-hidden="true"></span>
                <span id="hts-current-file" data-id="{{ plate_files.0.id }}">
                    {{ plate_files.0.file.name }}</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="hts-platefile-list"
                aria-labelledby="hts-select-platefile">
                {% for pf in plate_files %}
                <li data-id="{{ pf.id }}">
                    <a href="#">{{ pf.file.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="dropdown" style="display:inline-block">
            <button class="btn btn-default dropdown-toggle" type="button"
                    id="hts-select-plate" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                <span class="glyphicon glyphicon-th"
                      aria-hidden="true"></span>
                <span id="hts-current-plate" data-id="{{ plates.0.id }}">
                    {{ plates.0.name }}</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="hts-plate-list"
                aria-labelledby="hts-select-plate">
                {% for p in plates %}
                <li data-id="{{ p.id }}"><a href="#">{{ p.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div><!-- panel-heading -->

    <ul id="hts-well-nav" class="nav nav-tabs">
        <li id="hts-well-overview" role="presentation" class="active"><a
                href="#">Overview</a></li>
        <li id="hts-well-celllines" role="presentation"><a href="#">Cell
        Lines</a></li>
        <li id="hts-well-drugs" role="presentation"><a href="#">Drugs</a></li>
        <li id="hts-well-doses" role="presentation"><a href="#">Doses</a></li>
        <li id="hts-well-table" role="presentation"><a href="#">Table
            View</a></li>
    </ul>

    <div id="hts-well-plate" class="panel-body" style="width:52em;padding:1em">

            <ol id="selectable-well-all" class="welllist" data-last="">
                <li id="well-all" class="well ui-state-default">&nbsp;</li>
            </ol>

            <ol id="selectable-well-cols" class="welllist">
                {% for col in cols_range %}
                    <li data-col="{{ col }}" class="col">{{ col }}</li>
                {% endfor %}
            </ol>

            <div id="rowlabels">
                <ol id="selectable-well-rows" class="welllist">
                    {% for row in rows_range %}
                        <li id="data{{ row }}" data-row="{{ row }}"
                        class="row">{{ row }}</li>
                    {% endfor %}
                </ol>
            </div>

            <ol id="selectable-wells" class="welllist hts-overview">
                {% for well in wells %}
                    <li data-well="{{ well.well }}"
                        data-col="{{ well.col }}"
                        data-row="{{ well.row }}"
                        class="ui-state-default well"></li>
                {% endfor %}
            </ol>
    </div>

    <div id="hts-well-table-view" class="panel-body">
        <div class="loading-indicator">
            <span class="glyphicon glyphicon-refresh spinning"></span>
            <span>Loading...</span>
        </div>
        <table class="table table-bordered" style="width:100%"></table>
    </div>
    </div>
</div>

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Cell
                Line</h3></div>
            <div class="panel-body">
                <input type="text" class="form-control" id="cellline-typeahead"
                       placeholder="Cell line"/>
            </div>
            <div class="panel-heading"><h3 class="panel-title">
                Drug</h3></div>
            <div class="panel-body">
                <div class="hts-drug-entry" data-drug-num="1">
                    <label class="hts-drug-num-label">Drug <span
                            class="hts-drug-num">1</span></label>
                    <input type="text" class="form-control hts-drug-typeahead"
                           placeholder="Drug name"/>
                    <div class="input-group">
                        <input type="text" class="form-control hts-dose-input"
                               placeholder="Dose"/>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default
                            dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"><span
                                    class="hts-active-dose-unit"
                                    data-dose="1e-9">nM</span>
                                <span
                                    class="caret"></span></button>
                            <ul class="hts-dose-select dropdown-menu
                            dropdown-menu-right" style="min-width:0;width:100%">
                              <li data-dose="1e-12"><a href="#">pM</a></li>
                              <li data-dose="1e-9"><a href="#">nM</a></li>
                              <li data-dose="1e-6"><a href="#">&mu;M</a></li>
                              <li data-dose="1e-3"><a href="#">mM</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-default"
                        id="hts-add-drug" style="margin-top:5px">Add another
                    drug</button>
                <hr>
{#                <button type="button" class="btn btn-success"#}
{#                        id="hts-apply-annotation">Apply to wells</button>#}
                <button type="button" class="btn btn-danger"
                        id="hts-clear-annotation">Clear wells</button>
            </div>
        </div>

        {# Legend #}
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">
                Legend</h3><small>Colour indicates annotation</small>
            </div>
            <div id="hts-legend-container" class="panel-body hts-overview">
                <ol class="welllist well-legend">
                    <li class="well ui-state-default"></li>
                        <span class="legend-label">Unannotated</span>
                    </ol>
                <div id="legend-cell-lines"></div>
                <div id="legend-drugs"></div>
                <div id="legend-doses"></div>
                <div id="legend-overview">
                <ol class="welllist well-legend">
                    <li class="well ui-state-default hts-cell-line"></li>
                        Cell Line
                </ol>
                <ol class="welllist well-legend">
                    <li class="well ui-state-default hts-drug"></li>
                        Drug
                </ol>
                <ol class="welllist well-legend">
                    <li class="well ui-state-default hts-dose"></li>
                        Dose
                </ol>
                <ol class="welllist well-legend">
                    <li class="well ui-state-default hts-cell-line
                    hts-drug"></li>
                        Cell Line and Drug<br />
                        <small>(dose missing)</small>
                </ol>
                <ol class="welllist well-legend">
                    <li class="well ui-state-default hts-cell-line
                    hts-dose"></li>
                        Cell Line and Dose<br />
                        <small>(drug missing)</small>
                </ol>
                <ol class="welllist well-legend">
                    <li class="well ui-state-default hts-drug hts-dose"></li>
                        Drug and Dose<br />
                        <small>(cell line missing)</small>
                </ol>
                <ol class="welllist well-legend">
                    <li class="well ui-state-default hts-cell-line
                    hts-drug hts-dose"></li>
                        Fully annotated
                </ol>
                </div>
            </div>
        </div>


    </div>
</div>
{% endblock %}

{% load static %}
{% load pyhts_tags %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'vendor/datatables/css/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block tailscript %}
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'vendor/typeahead/typeahead.js' %}"></script>
<script src="{% static 'vendor/datatables/js/jquery.dataTables.min.js' %}">
</script>
<script src="{% static 'vendor/datatables/js/dataTables.bootstrap.min.js' %}">
</script>
<script>
$(function () {
    'use strict';

    pyHTS.plateMap = new pyHTS.classes.PlateMap({{ plates.0.id }}, {{ num_rows}}, {{ num_cols }});

{#    pyHTS.plate_names = ['{{ plates|join:"','" }}'];#}
    pyHTS.cell_lines = {{ cell_lines|jsonify }};
    pyHTS.drugs = {{ drugs|jsonify }};

    pyHTS.plateFiles = [{% for pf in plate_files %}{{ pf.id }}{% if not forloop.last %},{% endif %}{% endfor %}];
    pyHTS.plates = [{% for pf in plate_files %}[{% for pl in pf.plate_set.all %}{{ pl.id }}{% if not forloop.last %},{% endif %}{% endfor %}]{% if not forloop.last %},{% endif %}{% endfor %}];

{#    /**#}
{#     * Insert a string into the next free entry in an array#}
{#     * @param arr An array#}
{#     * @param name A string#}
{#     * @returns {number} The position that "name" was inserted into "arr"#}
{#     */#}
{#    pyHTS.util.insertNextFree = function(arr, name) {#}
{#        for(var i=0; i<arr.length; i++) {#}
{#            if(typeof arr[i] == 'undefined') {#}
{#                arr[i] = name;#}
{#                return i;#}
{#            }#}
{#        }#}
{#        arr[arr.length] = name;#}
{#        return (arr.length - 1);#}
{#    };#}

    pyHTS.ajax.createCellLine = function(name, successCallback) {
        $.ajax({type: 'POST',
                url: '/ajax/cellline/create',
                headers: {
                  'X-CSRFToken': '{{ csrf_token }}'
                },
                data: {'name' : name},
                success: function(data) {
                    pyHTS.cell_lines = data.cellLines;
                    $('#cellline-typeahead').data('ttTypeahead').menu
                            .datasets[0].source =
                            pyHTS.util.substringMatcher(
                                    pyHTS.util.getAttributeFromObjects(
                                            pyHTS.cell_lines, 'name'
                                    ));
                    successCallback();
                },
                dataType: 'json'});
    };

    pyHTS.ajax.createDrug = function(name, successCallback) {
        $.ajax({type: 'POST',
                url: '/ajax/drug/create',
                headers: {
                  'X-CSRFToken': '{{ csrf_token }}'
                },
                data: {'name' : name},
                success: function(data) {
                    pyHTS.drugs = data.drugs;
                    $('.hts-drug-typeahead.tt-input').data('ttTypeahead')
                            .menu.datasets[0].source =
                                pyHTS.util.substringMatcher(
                                        pyHTS.util.getAttributeFromObjects(
                                                pyHTS.drugs, 'name'
                                        ));
                    successCallback();
                },
                dataType: 'json'});
    };

    {# Plate selector #}
    $('#hts-platefile-list li').click(function(e){
        e.preventDefault();
        var plateFileId = $(this).data('id');
        setPlate(plateFileId, firstPlatePos(plateFileId));
    });

    var attach_plate_li_click = function() {
        $('#hts-plate-list li').click(function(e) {
            e.preventDefault();
            $('#hts-current-plate').text($(this).text());

            // Load the plate map
            setPlate($('#hts-current-file').data('id'), $(this).data('id'));
        });
    };
    attach_plate_li_click();

    pyHTS.ui.refreshViewAll = function() {
      var wellIds = [];
      for(var i=0;i<pyHTS.plateMap.wells.length;i++) {
          wellIds.push(i);
      }
      var selectedWells = $('#selectable-wells .well');
      refreshView(selectedWells, wellIds);
    };

    var refreshView = function(selectedWells, wellIds) {
        refreshLegend(selectedWells, wellIds, 'cell-line');
        refreshLegend(selectedWells, wellIds, 'drug');
        refreshLegend(selectedWells, wellIds, 'dose');
    };

    var refreshLegend = function(selectedWells, wellIds, data_type) {
        var oldLegendEntries, newLegendEntries;
        var oldLegendEntriesDescriptor = data_type.replace(/-/g, '_') +
                's_used';
        oldLegendEntries = pyHTS[oldLegendEntriesDescriptor];
        if(data_type == 'cell-line') {
            newLegendEntries = pyHTS.plateMap.getUsedCellLines();
        } else if (data_type == 'drug') {
            newLegendEntries = pyHTS.plateMap.getUsedDrugs();
        } else if (data_type == 'dose') {
            newLegendEntries = pyHTS.plateMap.getUsedDoses();
        }
        //compare old with new (this could be done more efficiently - this
        //scans the arrays twice
        var removed = pyHTS.util.arrayDiffPositions(oldLegendEntries,
                newLegendEntries);
        var added = pyHTS.util.arrayDiffPositions(newLegendEntries, oldLegendEntries);

        var elsToRemove = [];
        $.each(removed, function(i, key) {
            oldLegendEntries[key] = null;
            elsToRemove.push('#legend-'+data_type+
                             's .well-legend:eq('+key+')');
        });
        if(removed.length > 0) {
            $(elsToRemove.join(', ')).remove();
        }

        $.each(added, function(i, key) {
            var arrayInsertPos = oldLegendEntries.length;
            var unusedArrayPos = $.inArray(null, oldLegendEntries);
            if(unusedArrayPos >= 0) {
                //reuse a deleted legend colour
                arrayInsertPos = unusedArrayPos;
            }

            var newArrayEntry = newLegendEntries[key];
            if($.isArray(newArrayEntry)) {
                newArrayEntry = newArrayEntry.slice();
            }
            oldLegendEntries[arrayInsertPos] = newArrayEntry;

            // Update the legend
            var n = arrayInsertPos % pyHTS.num_css_unique_colours;
            var lgnd = $('.well-legend:first').clone();
            var legendText;
            if(data_type == 'cell-line') {
{#                legendText = pyHTS.cell_lines[newArrayEntry]['name'];#}
                legendText = pyHTS.util.filterObjectsAttr(newArrayEntry,
                        pyHTS.cell_lines, 'id', 'name');
            } else if(data_type == 'drug') {
                legendText = $.map(newArrayEntry, function(elem) {
                    return pyHTS.util.filterObjectsAttr(elem, pyHTS.drugs,
                            'id', 'name').toString().replace(/^-1$/, 'None');
                }).join(' & ');
            } else if(data_type == 'dose') {
                legendText = $.map(newArrayEntry, pyHTS.util.doseFormatter)
                        .join(' & ');
            }

            $(lgnd).children('li').addClass('hts-'+data_type+'-'+n);
            $(lgnd).find('.legend-label').text(legendText);
            $(lgnd).appendTo('#legend-'+data_type+'s');
        });

        if(added.length > 0 || removed.length > 0) {
            pyHTS[oldLegendEntriesDescriptor] = oldLegendEntries;
        }

        // Update the wells
        selectedWells.each(function(i, ele) {
            var wellId = wellIds[i];
            for (var n = 0; n < pyHTS.num_css_unique_colours; n++) {
                $(ele).removeClass('hts-' + data_type + '-' + n);
            }
            var this_value;
            if (data_type == "cell-line") {
                this_value = pyHTS.plateMap.wells[wellId].cellLine;
            } else if (data_type == "drug") {
                this_value = pyHTS.plateMap.wells[wellId].drugs;
            } else if (data_type == "dose") {
                this_value = pyHTS.plateMap.wells[wellId].doses;
            }
            if(this_value == null) {
                $(ele).removeClass('hts-' + data_type);
            } else {
                var loc = pyHTS.util.indexOf(this_value,
                        pyHTS[oldLegendEntriesDescriptor]);
                if(loc >= 0) {
                    var n = loc % pyHTS.num_css_unique_colours;
                    $(ele).addClass('hts-' + data_type + '-' + n)
                            .addClass('hts-' + data_type);
                }
            }
        });
    };

    var applyToWells = function(data_type, value, position) {
        var selected_wells = $('#selectable-wells .ui-selected');

        var wellIds = [];
        $.each(selected_wells, function(i, well) {
            wellIds.push($(well).data('well'));
        });

        if(data_type == 'cell-line') {
            $.each(wellIds, function(i, well) {
                pyHTS.plateMap.wells[well].setCellLine(value);
            });
        } else if (data_type == 'drug') {
            $.each(wellIds, function(i, well) {
                pyHTS.plateMap.wells[well].setDrug(value, position);
            });
            // TODO: Check if this drug has been applied in any other position
        } else if (data_type == 'dose') {
            $.each(wellIds, function(i, well) {
                pyHTS.plateMap.wells[well].setDose(value, position);
            });
        }

        refreshLegend(selected_wells, wellIds, data_type);

        selected_wells.removeClass('ui-selected');

{#        if(n == -1) {#}
{##}
{#            var lgnd = $('.well-legend:first').clone();#}
{#            $(lgnd).children('li').addClass('hts-'+data_type+'-'+n);#}
{#            $(lgnd).find('.legend-label').text(value);#}
{#            $(lgnd).appendTo('#legend-'+data_type+'s');#}
{#        } else {#}
{#            n %= pyHTS.num_css_unique_colours;#}
{#        }#}
{##}
{#        selected_wells#}
{#                .addClass('hts-'+data_type+'-'+n)#}
{#                .removeClass('ui-selected')#}
{#                .addClass('hts-'+data_type)#}
{#                .addClass('hts-'+data_type+'-'+n);#}
    };

    var create_typeahead = function(input_el, data_source_name,
                                           readable_name,
                                    create_data_fn, css_type) {
        $(input_el).typeahead({
                    hint: true,
                    highlight: true,
                    minLength: 0
                },
                {
                    name: css_type,
                    source: pyHTS.util.substringMatcher(
                            pyHTS.util.getAttributeFromObjects
                            (pyHTS[data_source_name],
                                    'name')
                    )
                }).keyup(function (e) {
            if (e.which == 13) {
                var calling_el = this;
                if ($('#selectable-wells .ui-selected').length === 0) {
                    pyHTS.ui.okModal('Error', 'Please select some wells first',
                            function () {
                                $(calling_el).focus();
                            });
                    return;
                }
                if ($(this).val() == '') {
                    pyHTS.ui.okModal('Error', 'Please enter a '+readable_name
                            +' name', function () {
                                $(calling_el).focus();
                            });
                    return;
                }
                //$(".tt-suggestion:first-child").trigger('click');
                var name = $(this).val();
                var itemId = pyHTS.util.filterObjectsAttr(name,
                        pyHTS[data_source_name], 'name', 'id');
                var drugDosePos = $(calling_el).closest('.hts-drug-entry')
                    .data('drug-num') - 1;
                if (itemId != -1) {
                    applyToWells(css_type, itemId, drugDosePos);
                    $(calling_el).typeahead('val','').blur();
                } else {
                    pyHTS.ui.okCancelModal('Create ' + readable_name,
                            readable_name + ' "' + name + '" ' +
                            'was not found. Create it?<br /><br />If you meant' +
                            ' to ' +
                            'autocomplete a suggestion use <kbd>Tab</kbd> ' +
                            'instead.',
                            function () {
                                create_data_fn(name, function() {
                                    applyToWells(css_type,
                                            pyHTS.util.filterObjectsAttr(name,
                                                    pyHTS[data_source_name],
                                                    'name', 'id'),
                                            drugDosePos);
                                    $(calling_el).typeahead('val','').blur();
                                });
                            },
                            null,
                            function () {
                                $(calling_el).focus();
                            }
                    );

                }
            }
        });
    };
    create_typeahead('#cellline-typeahead',
            'cell_lines',
            'Cell line',
            pyHTS.ajax.createCellLine, 'cell-line');

    var activateDrugInputs = function() {
        create_typeahead('.hts-drug-typeahead:last',
                'drugs',
                'Drug',
                pyHTS.ajax.createDrug, 'drug');

        $('.hts-dose-input:last').keyup(function (e) {
            if (e.which != 13) {
                return;
            }
            var caller = this;

            if ($('#selectable-wells .ui-selected').length === 0) {
                pyHTS.ui.okModal('Error', 'Please select some wells first',
                        function () {
                            $(caller).focus();
                        });
                return;
            }

            var val = $(this).val();
            if (!$.isNumeric(val)) {
                pyHTS.ui.okModal('Error', 'Dose must be numeric', function () {
                    $(caller).focus();
                });
                return;
            }

            // convert dose to molarity
            var dose_multiplier = $(this).parent('.input-group')
                    .find('.hts-active-dose-unit').data('dose');

            var dose = val * parseFloat(dose_multiplier);

            applyToWells('dose', dose, $(this).closest('.hts-drug-entry')
                    .data('drug-num') - 1);
            $(this).val('').blur();
        });

        $('.hts-dose-select:last li').click(function (e) {
            e.preventDefault();
            $(this).closest('.input-group-btn').find('.hts-active-dose-unit')
                    .data('dose', $(this).data('dose')).text($(this).text());
        });
    };
    activateDrugInputs();

    $('#hts-add-drug').click(function (e) {
        var orig_el = $('.hts-drug-entry:last');
        var new_el = orig_el.clone(true, false);
        new_el.data().drugNum++;
        new_el.find('.hts-drug-num:last').text(function (i, val) {
            return +val + 1;
        });
        new_el.insertAfter(orig_el);
        $('.hts-drug-num-label').show();
        activateDrugInputs();
    });

    {# Change plate view #}
    $('#hts-well-overview').click(function(e) { setWellView(e,'overview'); });
    $('#hts-well-celllines').click(function(e) { setWellView(e,'celllines');});
    $('#hts-well-drugs').click(function(e) { setWellView(e,'drugs'); });
    $('#hts-well-doses').click(function(e) { setWellView(e,'doses'); });
    $('#hts-well-table').click(function(e) {
        // deselect any selected wells
        $('.well.ui-selected').removeClass('ui-selected');
        //TODO: Better loading indicator?
        //$('#hts-well-table-view').html('<em>Loading...</em>');
{#        $.ajax({#}
{#            url: '/ajax/plate/table_view',#}
{#            data: JSON.stringify(pyHTS.plateMap),#}
{#            type: 'POST',#}
{#            headers: {#}
{#                  'X-CSRFToken': '{{ csrf_token }}'#}
{#            },#}
{#            success: function(data) {#}
{#                $('#hts-well-table-view').html(data).find('table').DataTable#}
{#                ({'paging':false, columnDefs: [ {type: 'doses', targets: 3}]});#}
{#            }#}
{#        });#}
        $('#hts-well-table-view .loading-indicator').show();

        $('#hts-well-table-view table').DataTable({
            data: pyHTS.plateMap.asDataTable(),
            columns: [
                {title: 'Well'},
                {title: 'Cell Line'},
                {title: 'Drugs'},
                {title: 'Doses'}
            ],
            destroy: true,
            paging: false,
            columnDefs: [
                {type: 'doses',
                 targets: 3}
            ]
        });

        setWellView(e, 'table');
        $('#hts-well-table-view .loading-indicator').hide();
    });

    var setWellView = function(e, view) {
        e.preventDefault();
        if(view == 'table') {
            $('#hts-well-table-view').show();
            $('#hts-well-plate').hide();
        } else {
            $('#hts-well-table-view').hide();
            $('#hts-well-plate').show();
        }
        $('#hts-well-nav li').removeClass('active');
        $('#hts-well-'+view).addClass('active');
        $('#selectable-wells,#hts-legend-container')
                .removeClass('hts-overview hts-celllines hts-drugs hts-doses' +
                        ' hts-table')
                .addClass('hts-'+view);
    };

    $.extend( $.fn.dataTableExt.oSort, pyHTS.util.doseSorter );

    {# Well selection #}
    $("#well-all").click(function () {
        if ($('.well.ui-selected').length) {
            $('#well-all,.well').removeClass('ui-selected');
        } else {
            $('#well-all,.well').addClass('ui-selected');
        }
        pyHTS.last_edited = 'all';
    });

    $('#selectable-well-rows').selectable({
        start: function (event, ui) {
            if (pyHTS.last_edited != 'row')
                $('.well').removeClass('ui-selected');
            pyHTS.last_edited = 'row';
        },
        selecting: function (event, ui) {
            $('*[data-row="' + $(ui.selecting).data('row') + '"]')
                    .addClass('ui-selected');
        },
        unselecting: function (event, ui) {
            $('*[data-row="' + $(ui.unselecting).data('row') + '"]')
                    .removeClass('ui-selected');
        }
    });

    $('#selectable-well-cols').selectable({
        start: function (event, ui) {
            if (pyHTS.last_edited != 'col')
                $('.well').removeClass('ui-selected');
            pyHTS.last_edited = 'col';
        },
        selecting: function (event, ui) {
            $('*[data-col="' + $(ui.selecting).data('col') + '"]')
                    .addClass('ui-selected');
        },
        unselecting: function (event, ui) {
            $('*[data-col="' + $(ui.unselecting).data('col') + '"]')
                    .removeClass('ui-selected');
        }
    });

    $("#selectable-wells").selectable({
        start: function (event, ui) {
            pyHTS.last_edited = 'cell';
        }
    });

    $('#hts-clear-annotation').click(function() {
        if ($('#selectable-wells .ui-selected').length === 0) {
            pyHTS.ui.okModal('Error', 'Please select some wells first');
            return;
        }

        var selected_wells = $('#selectable-wells .ui-selected');

        $.each(selected_wells, function(i, well) {
            pyHTS.plateMap.wells[$(well).data('well')] = new pyHTS.classes.Well();
        });

        pyHTS.ui.refreshViewAll();
        selected_wells.removeClass('ui-selected');
    });

    // Mouseovers
    $('#selectable-wells .well').mouseenter(function(e) {
        var well = $(this).data('well');
        var wellData = pyHTS.plateMap.wells[well];
        if(wellData == null) return;
        $('#cellline-typeahead').attr('placeholder',
                wellData.cellLine == null ? '' :
                pyHTS.util.filterObjectsAttr(wellData.cellLine,
                                            pyHTS.cell_lines,
                                            'id', 'name'));
        $('.hts-drug-typeahead').not('.tt-hint').attr('placeholder', '');
        if(wellData.drugs != null) {
            for(var i=0; i<wellData.drugs.length; i++) {
                if(wellData.drugs[i] == null) continue;
                $('.hts-drug-entry:eq('+i+') ' +
                        '.hts-drug-typeahead').not('.tt-hint')
                        .attr('placeholder',
                pyHTS.util.filterObjectsAttr(wellData.drugs[i], pyHTS.drugs,
                        'id', 'name'));
            }
        }
        $('.hts-dose-input').attr('placeholder', '');
        if(wellData.doses != null) {
            for(var i=0; i<wellData.doses.length; i++) {
                if(wellData.doses[i] == null) continue;
                $('.hts-drug-entry:eq('+i+') ' +
                        '.hts-dose-input').attr('placeholder',
                        pyHTS.util.doseFormatter(wellData.doses[i]));
            }
        }
    }).mouseleave(function() {
        $('#cellline-typeahead').attr('placeholder', 'Cell line');
        $('.hts-drug-typeahead').not('.tt-hint').attr('placeholder', 'Drug name');
        $('.hts-dose-input').attr('placeholder', 'Dose');
    });

    // Loading and saving plates
    pyHTS.ajax.savePlate = function(nextPlateToLoad, getPlateNames) {
        if(getPlateNames === undefined) {
            getPlateNames = false;
        }
        pyHTS.plateMap.loadNext = nextPlateToLoad;
        pyHTS.plateMap.getPlateNames = getPlateNames;
        $.ajax({
            url: '/ajax/plate/save',
            data: JSON.stringify(pyHTS.plateMap),
            type: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            success: function (data) {
                if(data.success) {
                    if(data.plateNames) {
                        var plateName = null;
                        var items = [];
                        $.each(data.plateNames, function(key, val) {
                            var activeClass = '';
                            if(val.id == data.plateMap.plateId) {
                                plateName = val.name;
                                activeClass = ' class="active"';
                            }
                            items.push('<li data-id="'+val.id+'"'+activeClass+'><a ' +
                                    'href="#">'+val.name+'</a></li>');
                        });
                        $('#hts-plate-list').html(items.join(""));
                        attach_plate_li_click();

                        $('#hts-current-plate').data('id', data.plateMap.plateId).text(plateName);
                        $('#hts-select-plate').removeClass('disabled');
                    }
                    pyHTS.plateMap = new pyHTS.classes.PlateMap(
                            data.plateMap.plateId,
                            data.plateMap.numRows,
                            data.plateMap.numCols,
                            data.plateMap.wells
                    );
                    pyHTS.ui.refreshViewAll();
                }
            }
        });
        delete pyHTS.plateMap.loadNext;
        delete pyHTS.plateMap.getPlateNames;
    };

    var setPlate = function(plateFileId, plateId) {
        var plateFileName = $('#hts-platefile-list ' +
                'li[data-id='+plateFileId+']').find('a').text();
        var getPlateNames = false;
        if($('#hts-current-file').data('id') != plateFileId) {
            getPlateNames = true;
            $('#hts-current-file').data('id', plateFileId).text(plateFileName);
            $('#hts-platefile-list li').removeClass('active').filter
            ('[data-id='+plateFileId+']').addClass('active');

            $('#hts-current-plate').html('<emph>Loading...</emph>');
            $('#hts-select-plate').addClass('disabled');

{#            $.getJSON('/ajax/plate_file/'+plateFileId, function(data) {#}
{#                if(plateId == null) {#}
{#                  plateId = data.plates[0].id;#}
{#                }#}
{#                var plateName = null;#}
{#                var items = [];#}
{#                $.each(data.plates, function(key, val) {#}
{#                    var activeClass = '';#}
{#                    if(val.id == plateId) {#}
{#                        plateName = val.name;#}
{#                        activeClass = ' class="active"';#}
{#                    }#}
{#                    items.push('<li data-id="'+val.id+'"'+activeClass+'><a ' +#}
{#                            'href="#">'+val.name+'</a></li>');#}
{#                });#}
{#                $('#hts-plate-list').html(items.join(""));#}
{#                attach_plate_li_click();#}
{##}
{#                $('#hts-current-plate').text(data.plates[0].name);#}
{#                $('#hts-select-plate').removeClass('disabled');#}
{#             });#}
        } else {
            // we're on the correct platefile
            $('#hts-plate-list li').removeClass('active').filter
            ('[data-id='+plateId+']').addClass('active');

            var plateName = $('#hts-plate-list li[data-id='+plateId+']').find('a').text();
            $('#hts-current-plate').data('id', plateId).text(plateName);
        }

        pyHTS.ajax.savePlate(plateId, getPlateNames);

        if(prevPlatePos() != null) {
            $('#hts-prev-dataset').show();
        } else {
            $('#hts-prev-dataset').hide();
        }
        if(nextPlatePos() != null) {
            $('#hts-next-dataset').show();
        } else {
            $('#hts-next-dataset').hide();
        }
    };

    var currentPlatePos = function() {
        var currentPlateId = $('#hts-current-plate').data('id');
        for(var pf_pos=0; pf_pos<pyHTS.plates.length; pf_pos++) {
            var pl_pos = $.inArray(currentPlateId, pyHTS.plates[pf_pos]);
            if (pl_pos != -1) {
                return [pf_pos, pl_pos];
            }
        }
        alert('Plate position not found! Plate ID: ' + currentPlateId);
    };

    var firstPlatePos = function(plateFileId) {
        var plateFileIndex = $.inArray(plateFileId, pyHTS.plateFiles);
        return pyHTS.plates[plateFileIndex][0];
    };

    var prevPlatePos = function() {
        var pf_pl_pos = currentPlatePos();
        if(pf_pl_pos[1] > 0) {
            return [pf_pl_pos[0], pf_pl_pos[1] - 1];
        } else if(pf_pl_pos[0] > 0) {
            var prev_plate = pyHTS.plates[pf_pl_pos[0] - 1];
            return [pf_pl_pos[0] - 1, prev_plate.length - 1];
        }
        return null;
    };

    var nextPlatePos = function() {
        var pf_pl_pos = currentPlatePos();
        if(pf_pl_pos[1] < (pyHTS.plates[pf_pl_pos[0]].length - 1))
            return [pf_pl_pos[0], pf_pl_pos[1] + 1];
        if(pf_pl_pos[0] < (pyHTS.plates.length - 1))
            return [pf_pl_pos[0] + 1, 0];
        return null;
    };

    $('#hts-next-dataset').click(function(e) {
{#       pyHTS.ajax.savePlate(nextPlate());#}
        var pf_pl_pos = nextPlatePos();
        setPlate(pyHTS.plateFiles[pf_pl_pos[0]],
                 pyHTS.plates[pf_pl_pos[0]][pf_pl_pos[1]])
    });

    $('#hts-prev-dataset').click(function(e) {
{#       pyHTS.ajax.savePlate(prevPlate());#}
        var pf_pl_pos = prevPlatePos();
        setPlate(pyHTS.plateFiles[pf_pl_pos[0]],
                 pyHTS.plates[pf_pl_pos[0]][pf_pl_pos[1]]);
    });
});
</script>
{% endblock %}
