{% extends "base.html" %}

{% block title %}Plots{% endblock %}

{% block titlerow %}
<div class="row">
    <div id="plot-toolbar" class="col-lg-12" role="toolbar" aria-label="Plot
    toolbar">

        <div id="hts-num-cols-lg">
            <label>Layout</label>
            <div class="btn-group">

              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span id="hts-current-num-cols-lg">1 column</span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li data-cols="1"><a href="#">1 column</a></li>
                <li data-cols="2"><a href="#">2 columns</a></li>
                <li data-cols="3"><a href="#">3 columns</a></li>
                <li data-cols="4"><a href="#">4 columns</a></li>
              </ul>
            </div>
        </div>

        <div id="hts-num-cols-md">
            <label>Layout</label>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id="hts-current-num-cols-md">1 column</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li data-cols="1"><a href="#">1 column</a></li>
            <li data-cols="2"><a href="#">2 columns</a></li>
          </ul>
        </div>

        <label>Plots</label>
        <div class="btn-group">
            <button class="btn btn-success new-plot-btn"
                    data-dataset-id="{{ dataset.id }}"
                    data-control-id="{{ control_id }}"><i class="glyphicon
                    glyphicon-plus"></i> Add plot</button>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row sortable-panels">
{#    {% for graph in graphs %}#}

{#    {% endfor %}#}
</div>

<div class="plot-panel panel-container col-lg-12 col-md-12">
    <div class="panel panel-default" data-error-bars="sd"
         data-log-transform="log2">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-th"></i>

            <span class="pull-right panel-close-btn" data-effect="fadeOut">
                <i class="fa fa-times"></i>
            </span>

            <div class="btn-group">
              <button type="button" class="hts-change-data-btn btn
              btn-default
              dropdown-toggle" aria-haspopup="true">
                <span class="fa fa-exchange"></span>
                <span>Change Plot</span>
                <span class="caret"></span>
              </button>
              <div class="dropdown-menu hidden"></div>
            </div>

        </div>
        <div class="panel-body">
        </div>
    </div>
</div>

<div class="hts-change-data container">
<form>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label for="hts-plot-meta-type">Plot Category</label>
        <div class="hts-plot-meta-type btn-group
        btn-group-3"
             data-toggle="buttons">
          <label class="btn btn-primary">
            <input type="radio" name="plotMetaType" value="cellline"
                   autocomplete="off"> Cell Line
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="plotMetaType" value="drug"
                   autocomplete="off"> Drug
          </label>
          <label class="btn btn-primary active">
            <input type="radio" name="plotMetaType" value="combo"
                   autocomplete="off" checked> Combination
          </label>
        </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label for="hts-plot-type">Plot Type</label>
            <div class="hts-plot-type btn-group btn-group-3"
                 data-toggle="buttons">
              <label class="btn btn-primary active">
                  <input type="radio" name="plotType" value="dip"
                         autocomplete="off" checked><span>DIP Rate</span>
              </label>
{#                <label class="btn btn-primary active">#}
{#                  <input type="radio" name="plotType" value="dr2d"#}
{#                         autocomplete="off" checked><span>Dose/Response</span>#}
{#                </label>#}
                <label class="btn btn-primary">
                  <input type="radio" name="plotType" value="tc"
                         autocomplete="off"><span>Time Course</span>
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="plotType" value="dr3d"
                         autocomplete="off"><span>3D Dose/Time/Response</span>
                </label>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
    <input type="hidden" name="datasetId">
    <div class="form-group">
        <label for="hts-change-cell-line">Cell Line</label>
        <select name="cellLineId" class="hts-change-cell-line form-control"
                title="Loading...">
        </select>
    </div>
    <div class="form-group">
        <label for="hts-change-drug">Drug</label>
        <select name="drugId" class="hts-change-drug form-control"
                title="Loading...">
        </select>
    </div>
    <div class="form-group" style="display:none">
        <label for="hts-change-assay">Assay</label>
        <select name="assayId" class="hts-change-assay form-control"
                title="Loading...">
        </select>
    </div>
    </div>
    <div class="col-sm-6">
{#    <div class="form-group" style="display:none">#}
{#        <label for="hts-change-control">Control</label>#}
{#        <select name="controlId" class="hts-change-control form-control">#}
{#        </select>#}
{#    </div>#}
    <div class="form-group" style="display:none">
        <label for="hts-error-bars">Error Bars</label>
        <div class="hts-error-bars btn-group btn-group-3"
             data-toggle="buttons">
          <label class="btn btn-default active">
            <input type="radio" name="errorBars" value="None"
                   autocomplete="off" checked> None
          </label>
          <label class="btn btn-default">
            <input type="radio" name="errorBars" value="sd"
                   autocomplete="off"> Std. Dev.
          </label>
          <label class="btn btn-default">
            <input type="radio" name="errorBars" value="range"
                   autocomplete="off"> Range
          </label>
        </div>
    </div>
    <div class="form-group" style="display:none">
        <label for="hts-log-transform">Vertical axis</label>
        <div class="hts-log-transform btn-group btn-group-2"
             data-toggle="buttons">
          <label class="btn btn-default active">
            <input type="radio" name="logTransform" value="log2"
                   autocomplete="off" checked> Doublings (log2)
          </label>
          <label class="btn btn-default">
            <input type="radio" name="logTransform" value="None"
                   autocomplete="off"> Raw
          </label>
        </div>
    </div>
    <div class="form-group">
        <label for="hts-dip-type">DIP type</label>
        <div class="hts-dip-type btn-group btn-group-2"
             data-toggle="buttons">
          <label class="btn btn-default active">
            <input type="radio" name="dipType" value="rel"
                   autocomplete="off" checked> Relative
          </label>
          <label class="btn btn-default">
            <input type="radio" name="dipType" value="abs"
                   autocomplete="off"> Absolute
          </label>
        </div>
    </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
    <button type="submit" class="btn btn-success
        form-control">Show Plot</button>
    </div>
</div>
</form>
</div>
{% endblock %}

{% block tailscript %}
{% load webpack_loader %}
{% render_bundle 'plots' 'js' %}
<script>
$(function () {
    pyHTS.views.plots.activate();
});
</script>
{% endblock %}
