{% extends "base.html" %}

{% block title %}Plots{% endblock %}

{% block titlerow %}
<div class="row">
    <div class="btn-toolbar col-lg-12" role="toolbar" aria-label="Plot toolbar"
         style="margin: 10px 0">

        <div class="btn-group" id="hts-num-cols-lg">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id="hts-current-num-cols-lg">1 column</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li data-cols="1"><a href="#">1 column</a></li>
            <li data-cols="2"><a href="#">2 columns</a></li>
            <li data-cols="3"><a href="#">3 columns</a></li>
            <li data-cols="4"><a href="#">4 columns</a></li>
          </ul>
        </div>

        <div class="btn-group" id="hts-num-cols-md">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id="hts-current-num-cols-md">1 column</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li data-cols="1"><a href="#">1 column</a></li>
            <li data-cols="2"><a href="#">2 columns</a></li>
          </ul>
        </div>

        <button class="btn btn-success" id="btn-new-dr">New
            Dose/Response</button>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row sortable-panels">
{#    {% for graph in graphs %}#}
    <div class="panel-container col-lg-12 col-md-12" style="display:none">
        <div class="panel panel-default"
             data-dataset-id=""
             data-cell-line-id=""
             data-drug-id=""
             data-assay-id=""
             data-control-id=""
             data-error-bars="sd"
             data-log-transform="log2"
        >
            <div class="panel-heading">
                <i class="glyphicon glyphicon-th"></i>

                <span class="pull-right panel-close-btn" data-effect="fadeOut">
                    <i class="fa fa-times"></i>
                </span>

                <div class="btn-group">
                  <button type="button" class="hts-change-data-btn btn
                  btn-default
                  dropdown-toggle" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-exchange"></span>
                    <span>Data</span>
                    <span class="caret"></span>
                  </button>
                </div>

            </div>
            <div class="panel-body" style="position:relative;min-height:300px;overflow:visible">
            </div>
        </div>
    </div>
{#    {% endfor %}#}
</div>

<div id="welcome-instructional" class="container" style="margin-top:40px">
  <div class="jumbotron navy row">
      <div class="col-xs-2">
          <i class="fa fa-hand-o-up" style="font-size: 96px;"></i>
      </div>
      <div class="col-xs-10">
          <p class="lead">Please add a plot to begin</p>
      </div>
  </div>
</div>

<div class="hts-change-data container" style="display: none; position:
absolute; top: 0; left: 0; z-index:2000; background: rgba(255,
255, 255, 0.9); padding: 10px; border-bottom: 1px solid #ddd; border-right:
1px solid #ddd; max-height: 100%; max-width:50%">
<div class="row">
<form>
    <div class="col-lg-6">
    <input type="hidden" name="datasetId" value="">
    <div class="form-group">
        <label for="hts-change-cell-line">Cell Line</label>
        <select name="cellLineId" class="hts-change-cell-line form-control">
        </select>
    </div>
    <div class="form-group">
        <label for="hts-change-drug">Drug</label>
        <select name="drugId" class="hts-change-drug form-control">
        </select>
    </div>
    <div class="form-group">
        <label for="hts-change-assay">Assay</label>
        <select name="assayId" class="hts-change-assay form-control">
        </select>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="form-group">
        <label for="hts-change-control">Control</label>
        <select name="controlId" class="hts-change-control form-control">
        </select>
    </div>
    <div class="form-group">
        <label for="hts-error-bars">Error Bars</label>
        <select name="errorBars" class="hts-error-bars form-control">
            <option value="None">None</option>
            <option value="sd">Std. Dev.</option>
            <option value="range">Range</option>
        </select>
    </div>
    <div class="form-group">
        <label for="hts-log-transform">Y-axis</label>
        <select name="logTransform" class="hts-log-transform form-control">
            <option value="None">Linear</option>
            <option value="log2">Log2</option>
        </select>
    </div>
    <button type="submit" class="btn btn-success
        form-control">Submit</button>
    </div>
</form>
</div>
</div>
{% endblock %}

{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'vendor/bootstrap-select/css/bootstrap-select.min.css' %}">
{% endblock %}

{% block headscript %}
<script src="{% static 'vendor/plotly/js/plotly-basic.min.js' %}"></script>
{% endblock %}

{% block tailscript %}
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'vendor/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
<script>
$(function () {
    $(".sortable-panels").sortable({
        tolerance: 'pointer',
        revert: 'invalid',
        handle: '.panel-heading',
        placeholder: 'panel-placeholder col-lg-12',
        forceHelperSize: false,
        forcePlaceholderSize: true
    });

    pyHTS.ui.setColumns = function(numColsMd, numColsLg) {
        var numBScolsLg = Math.round(12 / numColsLg);
        var numBScolsMd = Math.round(12 / numColsMd);
        $('.panel-container').removeClass('col-lg-3 col-lg-4 col-lg-6 ' +
                'col-lg-12 col-md-6 col-md-12').addClass
            ('col-lg-' + numBScolsLg + ' col-md-' + numBScolsMd);
        pyHTS.ui.resizeGraphs();
        $('.sortable-panels').sortable('option', 'placeholder',
                'panel-placeholder col-lg-' + numBScolsLg +
                ' col-md-' + numBScolsMd);
        $('#hts-current-num-cols-lg').text(numColsLg + ' column' +
                (numColsLg > 1 ? 's': ''));
        $('#hts-current-num-cols-md').text(numColsMd + ' column' +
                (numColsMd > 1 ? 's' : ''));
    };

    pyHTS.ui.resizeGraphs = function() {
        $('.plotly-graph-div').each(function(i, obj) {
          Plotly.Plots.resize($(obj)[0]);
        });
    };

    $(window).resize(function() {
        clearTimeout($.data(this, 'resizeTimer'));
        $.data(this, 'resizeTimer', setTimeout(function() {
            //do something
            pyHTS.ui.resizeGraphs();
        }, 200));
    });

    $('#hts-num-cols-lg').find('li').click(function(e){
        e.preventDefault();
        var lgCols = $(this).data('cols');
        var mdCols = lgCols >= 2 ? 2 : 1;
        pyHTS.ui.setColumns(mdCols, lgCols);
    });

    $('#hts-num-cols-md').find('li').click(function(){
        var mdCols = $(this).data('cols');
        pyHTS.ui.setColumns(mdCols, mdCols);
    });

    $('.panel-close-btn').on('click',function(){
        $(this).closest('.panel-container')[$(this).data('effect')]();
	});

    var pushOptionsToSelect = function($select, optionList, selectedOption) {
        for(var i=0; i<optionList.length; i++) {
            $select.append(
                '<option value="'+optionList[i].id+'"' +
                (optionList[i].id == selectedOption ? ' selected' : '') +
                '>'+optionList[i].name+'</option>'
            );
        }
        $select.selectpicker('refresh');
    };

    // Add new panel
    $('#btn-new-dr').click(function() {
        var $newPanel = $('.panel-container:first').clone(true);
        $newPanel.find('.panel').data('datasetId', '{{ dataset_id }}')
            .data('controlId', '{{ control_id }}');
        $('#welcome-instructional').hide();
        $newPanel.appendTo('.sortable-panels').fadeIn(400, function() {
            $newPanel.find('.hts-change-data-btn').click();
        });
    });

    // Change data panel
    $('.hts-change-data-btn').click(function() {
        var $enclosingPanel = $(this).closest('.panel');
        var $dataPanel = $enclosingPanel.find('.hts-change-data');
        if ($dataPanel.length) {
            $dataPanel.slideToggle();
        } else {
            $dataPanel = $('.hts-change-data:last').clone();
            // load in the data
            var dat = $enclosingPanel.data();

            $.ajax({
                url: '/ajax/dataset/'+dat['datasetId']+'/groups/',
                type: 'GET',
                success: function(data) {
                    pushOptionsToSelect(
                        $dataPanel.find('select.hts-change-cell-line'),
                        data.cellLines,
                        dat['cellLineId']);
                    pushOptionsToSelect(
                        $dataPanel.find('select.hts-change-drug'),
                        data.drugs,
                        dat['drugId']);
                    pushOptionsToSelect(
                        $dataPanel.find('select.hts-change-assay'),
                        data.assays,
                        dat['assayId']);
                    pushOptionsToSelect(
                        $dataPanel.find('select.hts-change-control'),
                        data.controls,
                        dat['controlId']);
                    $dataPanel.find('select.hts-error-bars').val
                        (dat['errorBars']).selectpicker('refresh');
                    $dataPanel.find('select.hts-log-transform').val
                        (dat['logTransform']).selectpicker('refresh');
                },
                error: pyHTS.ajax.ajaxErrorCallback
            });

            $dataPanel.find('select').selectpicker();
            $dataPanel.find('form').submit(function (e) {
               e.preventDefault();
               $.each($(this).serializeArray(), function(i, ele) {
                  $enclosingPanel.data(ele.name, ele.value);
               });
               $.ajax({
                  url: '/ajax/plot/dose-response-times/?'+$(this).serialize(),
                  type: 'GET',
                  dataType: 'html',
                  success: function(data) {
                      var $panelBody = $enclosingPanel.find('.panel-body');
                      $panelBody.find('.plotly-graph-div').remove();
                      $panelBody.append(data);
                      $dataPanel.slideUp();
                  },
                  error: pyHTS.ajax.ajaxErrorCallback
               });
            }).find('input[name=datasetId]').val(dat['datasetId']);
            $dataPanel.prependTo(
                $enclosingPanel.find('.panel-body')
            ).slideDown();
        }
    });
});
</script>
{% endblock %}
