{% load pyhts_tags %}
<div class="tag-container panel panel-default"
     {% if not tag %}style="display:none"{% endif %}>
<div class="panel-heading">
<form class="pull-right form-inline delete-tag"
      {% if not tag %}style="display:none"{% endif %}>
    <input type="hidden" name="tagType" value="{{ entity_type_var }}">
    <input type="hidden" name="tagName" value="{{ tag.tag_name }}">
<button type="submit" role="button" class="btn btn-danger"
       >Delete</button>
</form>

<h4 class="tag-header"{% if not tag %} style="display:none"{% endif %}>
    <i class="fa fa-tag"></i>
    <span class="tag-name">{% if tag %}{{ tag.tag_name }}{% endif %}</span>
    <span class="label label-success" style="display:none">Changes saved</span>
</h4>
<form class="set-tag-name" {% if tag %}style="display:none"{% endif %}>
<div class="form-inline">
    {% csrf_token %}
    <input type="hidden" name="tagType" value="{{ entity_type_var }}">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-tag"></i></span>
        <input type="text" class="form-control" name="tagName"
        placeholder="Enter a tag name">
    </div>
    <button type="submit" role="button" class="btn btn-primary">Set
        Name</button>
    <button type="button" role="button" class="btn
    btn-default btn-cancel">Cancel</button>
</div>
</form>

</div><div class="panel-body">

<form class="set-tag-targets" {% if not tag %}style="display:none"{% endif %}>
    {% csrf_token %}
    <input type="hidden" name="tagType" value="{{ entity_type_var }}">
    <input type="hidden" name="tagName" value="{{ tag.tag_name }}">
<div class="form-group">
    <label for="entityId">{{ entity_type }}(s)</label>
    <select multiple data-live-search="true" name="entityId"
    class="form-control" title="Select {{ entity_type }}s" style="display:none">
    {% for ent in entity_options %}<option name="entityId" value="{{ ent.id }}"{% if ent.id in tag_dict|get_item:tag.tag_name %} selected{% endif %}>{{ ent.name }}</option>
    {% endfor %}
    </select>
</div>
    <button type="submit" role="button" class="btn btn-block btn-primary"
            style="display:none">Save Tag</button>
</form>
</div>

</div>
