{% extends "../base.html" %}
{% load crispy_forms_tags %}

{% block title %}High Throughput Screening{% endblock %}
{% block bodytitle %}Log In{% endblock %}
{% block titlerow %}{% include "account/jumbotron_splash.html" %}{% endblock %}

{% block content %}
<div class="row">
  {% if branding %}
    <div class="col-lg-offset-1 col-lg-6 col-md-6 col-sm-12"
         style="min-height:500px">
      <div style="float:left;width:250px">
      <img src="//thunor-static.lolab.xyz/img/vanderbilt-incyte.png"
           width="200" height="500" alt="Vanderbilt-Incyte Alliance">
      </div>
      <h2>Vanderbilt&ndash;Incyte<br>Research Alliance Program Grant</h2>
      <p>Please contact <a href="mailto:thunor@lolab.xyz">thunor@lolab.xyz</a>
        to request an account.</p>
  </div>
  {% endif %}
    <div class="{% if not branding %}col-lg-offset-6
    col-md-offset-3 {% endif %}col-lg-3 col-md-6 col-sm-12">
      <h2 class="form-signin-heading">Log in</h2>
      {% crispy form %}
      <a href="{% url 'account_reset_password' %}">Forgotten your
          password?</a>
    </div>
</div>
{% endblock %}
