{% extends "../base.html" %}
{% load crispy_forms_tags %}

{% block title %}High Throughput Screening{% endblock %}
{% block bodytitle %}Log In{% endblock %}
{% block titlerow %}{% include "jumbotron_splash.html" %}{% endblock %}

{% block content %}
<div class="row">
    {% if SIGNUP_OPEN %}
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-4 col-md-4 col-sm-12">
      <h2>Need an account?</h2>
    <a href="{{ signup_url }}" role="button"
       class="btn btn-primary btn-block">Sign up</a>
    </div>
    {% endif %}
    <div class="col-lg-4 col-md-6 col-sm-12">
      <h2 class="form-signin-heading">Log in</h2>
      {% crispy form %}
      <a href="{% url 'account_reset_password' %}">Forgotten your
          password?</a>
    </div>
</div>
{% endblock %}
