{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{% if token_fail %}Bad Password Change Token{% else %}Change Password{% endif %}{% endblock %}

{% block content %}
{% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p class="lead">The password reset link was invalid, possibly because it
        has already been used.  Please request a
        <a href="{{ passwd_reset_url }}">new password reset</a>.</p>
{% else %}
    {% if form %}
        {% crispy form %}
    {% else %}
        <p class="lead">Your password has been changed.</p>
        <p><a href="{% url 'thunorweb:home' %}" role="button" class="btn
        btn-primary">Return to home page</a></p>
    {% endif %}
{% endif %}
{% endblock %}
