{% extends "base.html" %}

{% block title %}Confirm email address{% endblock %}

{% block content %}
{% if confirmation %}
    {% with confirmation.email_address.email as email %}
<p class="lead">Please confirm you wish to register email address
    <a href="mailto:{{ email }}">{{ email }}</a> with the site.</p>
    {% endwith %}

<form method="post" action="{% url 'accounts:account_confirm_email' confirmation.key %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Confirm</button>
</form>

{% else %}

{% url 'accounts:account_email' as email_url %}

<p>This e-mail confirmation link expired or is invalid. Please
    <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.</p>

{% endif %}

{% endblock %}
