{% extends "../base.html" %}
{% load crispy_forms_tags %}

{% block title %}High Throughput Screening{% endblock %}
{% block bodytitle %}Log In{% endblock %}
{% block titlerow %}{% include "account/jumbotron_splash.html" %}{% endblock %}

{% block content %}
<div class="row">
  {% if branding %}
    <div class="col-lg-offset-1 col-lg-3 col-md-3 col-sm-12">
      <img src="//thunor-static.lolab.xyz/img/{{ branding }}.png"
           width="200" height="200" alt="{{ branding|title }}"><br>
    </div>
  <div class="col-lg-3 col-md-3 col-sm-12">
          <h2>Welcome {{ branding|title }} Users</h2>
      <p>Please contact alex.lubbock for an account.</p>
  </div>
  {% endif %}
    <div class="{% if not branding %}col-lg-offset-6
    col-md-offset-3 {% endif %}col-lg-3 col-md-6 col-sm-12">
      <h2 class="form-signin-heading">Log in</h2>
      {% crispy form %}
      <a href="{% url 'account_reset_password' %}">Forgotten your
          password?</a>
    </div>
</div>
{% endblock %}
