{% extends "email_base.html" %}

{% block title %}Confirm email address{% endblock %}

{% block preheader %}Confirm your email address to access {{ site_name }}.{% endblock %}
{% block link_name %}Confirm email{% endblock %}
{% block link_url %}{{ activate_url }}{% endblock %}

{% block topcontent %}<h2 class="center">Please click the button to
    confirm you used this email address to register an account at
    {{ site_name }}</h2>{%endblock %}
{% block bottomcontent %}<p>If the button doesn't work, please copy and paste
the following address into your web browser:</p><p>
    {{ activate_url }}</p>
    <p>You're receiving this e-mail because you or someone else has
        requested an account at {{ site_domain }}.
It can be safely ignored if you did not request an account.</p>
{% endblock %}
