{% extends "base-outer.html" %}
{% block body %}
<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="navbar-header">{% if user.is_authenticated %}
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>{% endif %}
            <a class="navbar-brand" href="{% url 'thunorweb:home' %}"><i
                    class="fa fa-bolt"></i> {{ SITE_NAME }}</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-top-links navbar-nav navbar-right">
              {% if user.is_authenticated %}
              <li><a href="{% url 'thunorweb:plate_upload' %}"
                     class="tt"
                     data-toggle="tooltip"
                     data-placement="bottom" title="Create Dataset">
                <i class="fa fa-upload fa-fw"></i>
                <span class="visible-xs-inline">Create Dataset</span></a></li>
              {% endif %}
              <li><a href="{% url 'thunorweb:plots' %}"
                     class="tt"
                     data-toggle="tooltip"
                     data-placement="bottom" title="Interactive Plots">
                <i class="fa fa-line-chart fa-fw"></i>
                <span class="visible-xs-inline">Interactive
                  Plots</span></a></li>
              <li class="dropdown"><a class="dropdown-toggle"
                                      href="#"
                     data-toggle="dropdown">
                <i class="fa fa-tags fa-fw"></i>
                <span class="visible-xs-inline">Tags</span>
                <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'thunorweb:tag_editor' 'cell_lines' %}">Cell Line Tags</a></li>
                  <li><a href="{% url 'thunorweb:tag_editor' 'drugs' %}">Drug Tags</a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-toggle"
                       href="#"
                     data-toggle="dropdown">
                <i class="fa fa-edit fa-fw"></i>
                <span class="visible-xs-inline">Plate Mapper</span>
                <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'thunorweb:plate_mapper' 96 %}">96 Well Plate Map</a></li>
                  <li><a href="{% url 'thunorweb:plate_mapper' 384 %}">384 Well Plate Map</a></li>
                  <li><a href="{% url 'thunorweb:plate_mapper' 1536 %}">1536 Well Plate Map</a></li>
                </ul>
              </li>
              <li><a href="https://docs.thunor.net/{% block helppage %}{% endblock %}" target="_blank" class="tt help-link" data-toggle="tooltip" data-placement="bottom" title="Pop-up Help">
                <i class="fa fa-question-circle fa-fw"></i>
                <span class="visible-xs-inline">Help</span></a></li>
              <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="fa fa-user fa-fw"></i> {{ user.email|truncatechars:30 }}
                      <i class="fa fa-caret-down"></i>
                  </a>
                  <ul class="dropdown-menu">
                    {% if user.is_authenticated %}
                      <li><a href="{% url 'thunorweb:my_account' %}"><i class="fa fa-user fa-fw"></i> User Profile</a></li>
                      <li class="divider"></li>
                      <li><a href="{% url 'thunorweb:logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                    {% else %}
                      {% if SIGNUP_OPEN %}<li><a href="{% url 'account_signup' %}"><i class="fa fa-user-plus fa-fw"></i> Create account</a></li>{% endif %}
                      <li><a href="{% url 'account_login' %}"><i class="fa fa-sign-in fa-fw"></i> Log in</a></li>
                    {% endif %}
                  </ul>
              </li>
            </ul>
        </div>
    </nav>

    <div id="page-wrapper">
        <div class="row"><div class="col-xs-12">
          <ol class="breadcrumb ellipsis">
            <li><a href="{% url 'thunorweb:home' %}"><i class="fa fa-home"></i></a></li>
            {% load thunorweb_tags %}
            {% with view_name=request.resolver_match.url_name %}
            {% if dataset and view_name != "view_dataset"%}<li><a href="
{% url 'thunorweb:view_dataset' dataset.id %}">Dataset:
              {{ dataset.name }}</a></li>
            {% elif view_name == "tag_editor" or view_name == "tag_editor_private" and entity_type %}<li><a href="{% url 'thunorweb:tag_editor' %}">Tags</a></li>
            {% elif view_name == "plate_mapper" and num_wells %}<li><a href="{% url 'thunorweb:plate_mapper' %}">Plate Mapper</a></li>
            {% elif request.resolver_match.url_name|startswith:"account_" %}<li><a href="{% url 'thunorweb:my_account' %}">My Account</a></li>
            {% endif %}
            {% endwith %}
            <li class="active">{% block bodytitle %}{% block title %}{% endblock %}{% endblock %}</li>
          </ol>
        </div></div>

        <div class="row"><div class="col-xs-12 messages">
        <!--[if lt IE 9]><div class="alert alert-danger">Sorry, your web
        browser is unsupported. Please upgrade to a Internet Explorer 9 or
        above, or use a recent version of Google Chrome or Mozilla Firefox.
        </div><![endif]-->
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissable" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{ message }}</div>
        {% endfor %}
        <noscript><div class="alert alert-danger">This site
        requires javascript to be enabled in your web
        browser for full functionality.</div></noscript>
        </div></div>
        {% block page %}{% endblock %}
    </div>
</div>
<div class="powered-by">Powered by <i class="fa fa-bolt"></i> Thunor</div>

{% load webpack_loader %}{% get_files 'sentry' 'js' as sentry_js %}
<script src="{{ sentry_js.0.url }}" crossorigin="anonymous"></script>

<script>{% load thunorweb_tags %}Sentry.init({
    dsn: '{% sentry_public_dsn %}',
    environment: '{% sentry_environment %}', release: '{% thunorweb_version %}'
});
{% if user.is_authenticated %}Sentry.setUser({email: '{{ user.email }}',
    id: '{{ user.id }}'});{% endif %}</script>

{% render_bundle 'vendor' 'js' %}
<script>$('.tt').tooltip();
$('.help-link').click(function(e) {
    var $target = $(e.currentTarget);
    window.open($target.attr('href'), '_blank', 'location=yes,' +
        'height=570,width=520,scrollbars=yes,status=yes');
    e.preventDefault();
});
</script>
{% render_bundle 'app' 'js' %}
{% block tailscript %}{% endblock %}

{% endblock %}
