{% extends "base.html" %}

{% block title %}High Throughput Screening{% endblock %}
{% block bodytitle %}Welcome to {{ SITE_NAME }}{% endblock %}

{% block content %}
{% if not user_has_datasets %}
<div class="container">
    <div class="jumbotron">
        <p>Please create a dataset to get started.</p>
        <p><a role="button" class="btn btn-primary" href="{% url 'thunorweb:plate_upload' %}">
          <i class="fa fa-upload"></i> Create Dataset</a></p>
    </div>
</div>
{% endif %}
<div class="row">
<div class="col-md-9">
<h2>Datasets</h2>
{% include "dataset_table.html" %}
</div>

<div class="col-md-3 btn-two">
  <h2>Dataset Tasks</h2>
  <div class="square-btns">
  <a role="button" class="btn btn-primary btn-lg btn-sidebar"
     href="{% url 'thunorweb:plate_upload' %}">
    <i class="fa fa-3x fa-upload"></i><br>
    Create Dataset</a>
  <a role="button" class="btn btn-primary btn-lg btn-sidebar"
     href="{% url 'thunorweb:plots' %}">
    <i class="fa fa-3x fa-line-chart"></i><br>
    Plot System</a>
  </div>

<h2 style="margin-top:5px">Tags</h2>
{% include "tag_type_list.html" %}

<h2 style="margin-top:5px">Plate Mapper</h2>
{% include "plate_size_list.html" %}
</div>
</div>
{% endblock %}

{% block tailscript %}
<script>
$(function() {
    pyHTS.views.home.activate();
} );
</script>
{% endblock %}
