{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
  <p class="lead">The administrator of this server has not configured an email server connection,
      so your password will need to be reset manually. Please contact your administrator.</p>

  <p>If you are the server administrator, please see the <a href="https://docs.thunor.net/password-reset"
    target="_blank">password reset documentation</a>.</p>

  <p></p>

  {% include "btn_back_homepage.html" %}
{% endblock %}
