{% extends "base.html" %}

{% block title %}{{ entity_type }} Tags{% endblock %}

{% block content %}

  <div class="two-btn">
  <div class="square-btns">
<button class="btn btn-success btn-lg" style="width:170px" id="btn-add-tag">
  <i class="fa fa-3x fa-plus"></i><br>
  Add {{ entity_type }} Tag</button>
  <a role="button" href="{% url 'thunorweb:home' %}" class="btn
  btn-default btn-lg" style="width:170px"><i class="fa fa-3x
  fa-home"></i><br>Back to<br>Home
  Page</a>
    </div>
  </div>

<div class="tag-list">
{% for tag in tag_list %}{% ifchanged tag.tag_name %}
{% include "tag_editor_tag_template.html" %}
{% endifchanged %}{% endfor %}
</div>

{% include "tag_editor_tag_template.html" %}

{% endblock %}

{% block tailscript %}
<script>
$(function() {
    $.extend(pyHTS.state, {
        tagNames: [{% for k in tag_dict %}'{{ k|escapejs }}'{% if not forloop.last %}, {% endif %}{% endfor %}]
    });
    pyHTS.views.tag_editor.activate();
});
</script>
{% endblock %}
