{% extends "base.html" %}

{% block title %}{{ entity_type }} Tags{% endblock %}

{% block content %}

  <div class="two-btn">
  <div class="square-btns">
<button class="btn btn-success btn-lg" style="width:170px" id="btn-add-tag" {% if not request.user.is_authenticated %}disabled{% endif %}>
  <i class="fa fa-3x fa-plus"></i><br>
  Add {{ entity_type }} Tag</button>
{% if request.user.is_superuser %}
    <button class="btn btn-primary btn-lg" style="width:170px" id="btn-add-public-tag">
  <i class="fa fa-3x fa-plus"></i><br>
  Add Public {{ entity_type }} Tag</button>
{% endif %}
  <a role="button" href="{% url 'thunorweb:home' %}" class="btn
  btn-default btn-lg" style="width:170px"><i class="fa fa-3x
  fa-home"></i><br>Back to<br>Home
  Page</a>
    </div>
  </div>

<div class="tag-list">
{% for tag, entities in tag_dict_all.items %}
  {% ifchanged tag.tag_category %}<h2>{{ tag.tag_category }}</h2>{% endifchanged %}
{% include "tag_editor_tag_template.html" %}
{% endfor %}
</div>

{% include "tag_editor_tag_template.html" %}

{% endblock %}

{% block tailscript %}
<script>
$(function() {
    $.extend(pyHTS.state, {
        privateTagNames: [{% for k in private_tag_names %}'{{ k|escapejs }}'{% if not forloop.last %}, {% endif %}{% endfor %}],
        publicTagNames: [{% for k in public_tag_names %}'{{ k|escapejs }}'{% if not forloop.last %}, {% endif %}{% endfor %}]
    });
    pyHTS.views.tag_editor.activate();
});
</script>
{% endblock %}
