{% extends "email_base.html" %}

{% block title %}Reset Password{% endblock %}

{% block preheader %}Instructions to reset your password{% endblock %}
{% block link_name %}Reset Password{% endblock %}
{% block link_url %}{{ password_reset_url }}{% endblock %}

{% block topcontent %}<h2 class="center">Please click the button to reset your
    password</h2>{% endblock %}
{% block bottomcontent %}<p>If the button doesn't work, please copy and paste
the following address into your web browser:</p><p>
    {{ password_reset_url }}</p>
    <p>You're receiving this email because you or someone else has requested a password for your user account at {{ site_domain }}.
It can be safely ignored if you did not request a password reset.</p>
{% endblock %}
